body {
  font-family: Roboto, sans-serif;
  background-color: white;
}

.search-form {
  padding: 20px;
  background-color: #4848cd;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
}

.search-form input {
  width: 300px;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: none;
  background-color: white;
}

.search-form button {
  margin-right: -10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #f0f0f0;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  stroke-width: 1px;
  stroke: #313131;
  fill: #313131;
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.photo-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s forwards;
  text-decoration: none;
  color: #313131;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info-item {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.load-more {
  padding: 10px 20px;
  margin-top: 20px;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
